<div class="forgot-password-box">
  <form >
    <ion-row>
      <ion-col>
        <ion-list inset>
          
          <ion-item *ngIf="!hasCode">
            <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="email" required></ion-input>
          </ion-item>

          <button *ngIf="!hasCode" ion-button class="register-btn" block clear (click)="toggleCodeInput()">I already have my code.</button>

          <ion-item *ngIf="hasCode">
            <ion-input type="text" placeholder="Code" name="code" [(ngModel)]="newPassData.code" required></ion-input>
          </ion-item>
           <ion-item *ngIf="hasCode">
            <ion-input type="password" placeholder="New Password" name="newpass" [(ngModel)]="newPassData.newPass" required></ion-input>
          </ion-item>
           <ion-item *ngIf="hasCode">
            <ion-input type="password" placeholder="Confirm Password" name="confirmpass" [(ngModel)]="newPassData.newPassConfirm" required></ion-input>
          </ion-item>

          <button *ngIf="hasCode" ion-button class="register-btn" block clear (click)="toggleCodeInput()">I need to email my code again.</button>
        </ion-list>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="signup-col">
        <button *ngIf="!hasCode" ion-button class="submit-btn" full (click)="sendEmail()">Email Verification Code</button>
        <button *ngIf="hasCode" ion-button class="submit-btn" full (click)="changePassword()">Verify Code</button>
        <button ion-button class="register-btn" block clear (click)="changeView('login')">Return to Login</button>
      </ion-col>
    </ion-row>
    
  </form>
</div>